// 2020-10-28 "Improve the mini-cart popup": https://github.com/tradefurniturecompany/site/issues/202
.block-minicart {
	padding: 1rem 1rem 0 1rem !important;
	> #minicart-content-wrapper > .block-content {
		> .items-total, > .subtotal {
			margin: 0;
			@media (min-width: 768px) {line-height: 3.3rem;}
		}
		> .items-total {text-transform: lowercase;}
		> .subtotal {
			float: right; overflow: hidden; width: 66%;
			> .amount {display: inline;}
			> .label:after {margin-left: -0.5rem;}
		}
		> .actions {
			margin-top: 0.5rem;
			> .primary {margin: 0;}
		}
		> .minicart-items-wrapper {
			border: 0; margin: 0; padding: 0;
			> ol > li {
				border-top: 1px solid rgb(244, 244, 244);
				font-size: 1.4rem;
				padding: 0.5rem 0;
				&:last-of-type {border-bottom: 1px solid rgb(244, 244, 244);}
				> .product > .product-item-details {
					> .product-item-name {margin-bottom: 0;}
					> .product-item-pricing {
						> .qty {
							margin-top: 0;
							> input {font-size: 1.5rem; height: auto; line-height: normal; width: 2em;}
							> label {vertical-align: top;}
						}
					}
				}
			}
		}
	}
}