// 2020-05-15
@import 'css/mixin/_toggled-text';
body.catalog-category-view #maincontent {
	// 2020-05-15
	// "Hide the text below the primary image from the «Collections» (`/more-collections`) page on narrow screens":
	// https://github.com/tradefurniturecompany/core/issues/30
	@media (max-width: 767px) {
		h1.page-title {margin: 0.1em 0;}
		.category-view-image-desc {
			> .category-description {display: none;}
			> .category-image {margin-bottom: 15px;}
			.tfc-toggle-m();
		}
	}
	> .columns {
		@media (max-width: 639px) {padding-top: 4rem;}
		> .column.main {
			padding-bottom: 0;
			// 2020-10-22 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
			// «Remove an extra empty space from the frontend product list page»
			// https://github.com/tradefurniturecompany/site/issues/190
			> .filter.block {margin-bottom: 0;}
			> .toolbar-products {
				margin-bottom: 0;
				@media (max-width: 639px) {overflow: hidden; width: 100%;}
				> #toolbar-amount {
					text-transform: lowercase;
					@media (max-width: 639px) {float: left;  line-height: 1.42857143; padding: 0;}
				}
				> .sorter {@media (max-width: 639px) {margin-top: 0; width: auto;  }}
			}
			> .products-grid {
				margin: 0; padding-bottom: 0;
				@media (max-width: 639px) {margin-top: 0.75rem;}
				> .products {
					margin: 0;
					> .product-item {
						@media (max-width: 639px) {
							&:nth-child(2n + 1) {
								margin-bottom: 0.8rem;
								&:after {
									border-bottom: 2px solid rgb(244, 244, 244);
									content: '';
									position: absolute;
									width: 500%;
								}
							}
						}
					}
					> .product-item > .product-item-info {
						@media (max-width: 639px) {padding: 0;}
						@media (min-width: 640px) {
							border: 0; padding: 2px;
							&:hover, &.active {padding: 0; border-width: 2px !important;}
						}
						> .details {
							> .price-and-wishlist {
								overflow: hidden; width: 100%;
								> .price-box.price-final_price {
									float: left; margin: 0; min-height: auto;
									//@media (max-width: 639px) {margin: 0;}
								}
								> .actions-secondary-container {float: right; padding-right: 0.25rem;}
							}
							> .name {
								margin-top: 0; @media (max-width: 639px) {margin-bottom: 0;}
								> .product-item-link {
									height: auto;
									@media (max-width: 639px) {font-size: 1.33rem;}
								}
							}
							.product-item-actions {
								// 2020-10-24
								// "Remove the «Add to Wishlist» and «Add to Backet» controls
								// from the frontend category page on narrow screens":
								// https://github.com/tradefurniturecompany/site/issues/193
								@media (max-width: 639px) {display: none;}
								@media (min-width: 640px) {
									margin: 0;
									> .actions-primary {position: absolute; top: -200px;}
								}
								> .actions-secondary > .action {line-height: initial; width: auto;}
							}
						}
					}
				}
			}
		}
	}
}