// 2020-05-18
.breadcrumbs {margin-bottom: 0 !important;}
p {
	&:empty {display: none; margin: 0;}
	&:last-of-type {margin-bottom: 0;}
	> br:first-child {display: none;}
}
#maincontent {
	@media (max-width: 639px) {padding: 0;}
	> .columns > .main {padding-bottom: 0;}
}
footer.page-footer {
	margin: 0; padding: 0;
	> .footer.content {
		padding-top: 0;
		@media (max-width: 767px) {h2 {font-size: 2rem; margin: 1.5rem 0;}}
	}
}