// 2020-05-18
.ammenu-nav-sections {margin-bottom: 0 !important;}
.breadcrumbs {margin-bottom: 0 !important;}
@media only screen and (max-width: 767px) {
	.footer.content {
		padding-top: 0;
		h2 {font-size: 2rem; margin: 1.5rem 0;}
	}
}
#maincontent {@media (max-width: 639px) {padding: 0;}}