// 2020-05-15
// "Decrease the header's height on narrow screens": https://github.com/tradefurniturecompany/core/issues/31
@media only screen and (max-width: 767px) {
	.page-header {
		border-bottom: 0 !important;
		padding-bottom: 0 !important;
		> .header.content {
			padding-top: 0;
			> .ammenu-menu-toggle {top: 10px}
			> .header-actions-wrapper {
				margin-top: 0.4em;
				> .minicart-wrapper .action.showcart:before {margin-top: -0.1em;}
				> .mobile-phone-icon a:before {margin-top: 0.2em;}
			}
		}
	}
}