// 2020-10-23 «Improve the frontend product page»: https://github.com/tradefurniturecompany/site/issues/191
body.catalog-product-view {
	// 2020-12-30
	// I adjust `.nav-sections` because the page could have `.breadcrumbs` which lies above #maincontent,
	// and `.breadcrumbs` should have a free space at the top too.
	.nav-sections {@media (min-width: 768px) {margin-bottom: 0.6rem !important;}}
	.product.media {margin: 0;}
	.product-info-main {
		> .desktop-sticky-bar {
			> .sticky-add-to-basket {
				margin: 0;
				@media (max-width: 767px) {display: initial;}
			}
			> .page-title-wrapper {
				// 2020-12-30
				// The product title seems to be slightly shifted to the right just because of a larger font size
				// (the first letter of a large font has small margins at sides).
				margin-left: -1px;
				> h1 {
					@media (min-width: 768px) {font-size: 3.4rem;}
					margin-bottom: 0;
				}
			}
			> .product-info-price {
				border: 0; margin-bottom: 0;
				> .price-box {
					padding-bottom: 0;
					.price-container > span {margin-bottom: 0;}
				}
			}
			> .product-info-stock-sku {
				color: initial;
				margin: 0;
				padding: 0;
				> .sku > .type {text-transform: lowercase;}
			}
		}
		> #imegamedia-holder > #imega-widget-anchor {margin: 0; padding: 0;}
		> .product-social-links {
			font-size: 1.3rem; @media (min-width: 768px) {margin-bottom: 0;}
			a {letter-spacing: initial !important;}
		}
	}
	.product-add-form {
		margin: 0; padding: 0;
		> form {
			// 2021-01-08 The `.product-options-bottom` wrapper is added for products with options.
			> .product-options-bottom {&, & > .box-tocart {display: initial;}}
			&, & > .product-options-bottom {
				> .box-tocart {
					margin: 0;
					> .fieldset {
						margin: 0;
						> .actions > button {
							background-color: #f3931a;
							font-size: 1.8rem;
							line-height: 2rem;
							padding: 7px 15px;
							width: initial;
							> span::before {content: '\e611'; font-family: 'icomoon4'; margin-right: 5px;}
						}
					}
				}
			}
			> .product-options-wrapper {
				margin: 0;
				> .fieldset {
					margin: 0;
					> .field:last-of-type {margin-bottom: 0;}
				}
			}
		}
	}
}