// 2020-10-23 «Improve the frontend product page»: https://github.com/tradefurniturecompany/site/issues/191
body.catalog-product-view {
	.product-info-main {
		> .desktop-sticky-bar {
			> .product > h1 {
				@media (min-width: 768px) {
					font-size: 3.4rem;
				}
			}
			> .product-info-price {
				border: 0; margin-bottom: 0;
				> .price-box {padding-bottom: 0;}
			}
		}
		> #imega-widget-anchor {margin: 0; padding: 0;}
		> .product-social-links {
			font-size: 1.3rem; @media (min-width: 768px) {margin-bottom: 0;}
			a {letter-spacing: initial !important;}
		}
	}
}