<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
<!-- 2019-10-07
"Transfer the `\Magento\Framework\Stdlib\DateTime\Timezone::isScopeDateInInterval()` method modification
to the `tradefurniturecompany/core` module":
https://github.com/tradefurniturecompany/core/issues/13 -->
	<type name='Magento\Framework\Stdlib\DateTime\Timezone'>
		<plugin
			name='TFC\Core\Plugin\Framework\Stdlib\DateTime\Timezone'
			type='TFC\Core\Plugin\Framework\Stdlib\DateTime\Timezone'
		/>
	</type>
<!-- 2020-02-19
1) "«The product that was requested doesn't exist. Verify the product and try again.»
at vendor/magento/module-catalog/Model/ProductRepository.php:310":
https://github.com/tradefurniturecompany/site/issues/20
2) The `sales_order_item` table sometimes has a wrong `0` value in the `product_id` column
for orders placed before the website was migrated to Magento 2:
https://github.com/tradefurniturecompany/site/issues/20#issuecomment-587985765 -->
	<type name='Magento\Sales\Model\Order'>
		<plugin name='TFC\Core\Plugin\Sales\Model\Order' type='TFC\Core\Plugin\Sales\Model\Order'/>
	</type>
<!--
2019-10-07
"Transfer the `\Magento\Tax\Helper\Data::getShippingPrice()` and `\Magento\Tax\Model\Config::needPriceConversion()`
 methods modifications to the `tradefurniturecompany/core` module":
https://github.com/tradefurniturecompany/core/issues/14
2020-07-01
1) «change the delivery options and also the delivery charges calculated»:
https://github.com/tradefurniturecompany/core/issues/32
2) Currently, we do not need these plugins anymore:
https://github.com/tradefurniturecompany/core/issues/32#issuecomment-652184733
	<type name='Magento\Tax\Helper\Data'>
		<plugin name='TFC\Core\Plugin\Tax\Helper\Data' type='TFC\Core\Plugin\Tax\Helper\Data'/>
	</type>
	<type name='Magento\Tax\Model\Config'>
		<plugin name='TFC\Core\Plugin\Tax\Model\Config' type='TFC\Core\Plugin\Tax\Model\Config'/>
	</type>
-->
</config>