<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
<!-- 2020-10-24
"Remove the «sort by position» option from the category page": https://github.com/tradefurniturecompany/site/issues/194 -->
	<type name='Magento\Catalog\Model\Category'>
		<plugin name='TFC\Core\Plugin\Catalog\Model\Category' type='TFC\Core\Plugin\Catalog\Model\Category'/>
	</type>
	<type name='SpringImport\CatalogDropdownSort\Block\Product\ProductList\Toolbar'>
		<plugin
			name='TFC\Core\Plugin\SpringImport\CatalogDropdownSort\Block\Product\ProductList\Toolbar'
			type='TFC\Core\Plugin\SpringImport\CatalogDropdownSort\Block\Product\ProductList\Toolbar'
		/>
	</type>
</config>